@import '@/uni_modules/uni-scss/variables.scss';

$font-size: (
	'xs' : 20rpx,
	'small' : 22rpx,
	'normal' : 24rpx,
	'xl' : 26rpx,
	'xxl' : 28rpx
);

@function fs($size-name) {
	@return map-get($font-size, $size-name);
}

.title-text {
	font-size: fs('xxl');
	font-weight: bold;
	color: #027fff;
	display: block;
}

.description-text {
	font-size: fs('normal');
	color: #6c6c6c;
}